* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  --light-contrast: rgba(255, 255, 255, 0.07);
  --dark-contrast: rgba(0, 0, 0, 0.2);
  --light-bg: rgb(46, 46, 46);
  --dark-bg: rgb(25, 25, 25);
  --accent-bg: rgb(42, 66, 97);
  --bg: rgb(32, 32, 32);
  --text-col: lightgray;
  --text-col-subtle: gray;
  --text-col-accent: rgb(125, 152, 189);
  --title-col: rgb(68, 132, 223);
  background-color: var(--dark-bg);
}

input,
select,
.button {
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  padding: 0.5em 0.75em;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2em;
  min-width: 2em;

  border: 2px solid transparent;
  border-radius: 0.25em;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;

  color: var(--text-col-subtle);
  background-color: transparent;

  transition: box-shadow 200ms;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover,
select:hover,
.button:hover {
  color: rgb(224, 224, 224);
  cursor: pointer;
  background-color: var(--light-contrast);
}

input:focus,
select:focus,
.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1em var(--title-col);
}
